.card {
      
    
    width: 400px;
    min-height: 300px;
    padding: 30px;
   
    
    
    box-sizing: border-box;
    box-shadow: 0px 15px 105px rgba(0,0,0,.6);
    border-radius: 10px;
    transition: all 1s;
    
    
  }
  

  .btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid 55efc4;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 10px 20px;
    padding: 1em 1em;
    text-decoration: none;
    text-align: center;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    
  }
  
  
 
  .btn:hover {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #03e9f4 inset;
  }

 
  

  
  
  
   input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    transition: 0.5s;
  }
  .label0 {
    
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }
  .label1 {
    
    top: -20px;
    left: 0;
    color: #55efc4;
    font-size: 12px;
    transition: 0.5s;
  }
  .label404 {
    
    color: red;
    
    transition: 0.5s;
  }
  
  
   
 